<body>
  <div class="row">
    <div class="element">
      <div class="header-box">
        <h3 class="header" style="width:40%;margin-left:27%">Registration</h3>
      </div>

      <form id="formlogin">
        <table class="login_container">
          <tr>
            <td align="center">
              <div class="row">
                  <p class="block">Email:</p>
                  <input type="text" name="email" class="block" [(ngModel)]="user.email">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Password:</p>
                <input type="password" name="pasword" class="block" [(ngModel)]="user.password">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Confirm password:</p>
                <input type="password" name="pasword" class="block" [(ngModel)]="passwordConfirm">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Name:</p>
                <input type="text" name="name" class="block" [(ngModel)]="user.name">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Surname:</p>
                <input type="text" name="name" class="block" [(ngModel)]="user.surname">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Address:</p>
                <input type="text" name="adress" class="block" [(ngModel)]="user.address">
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Jmbg:</p>
                <input type="text" name="jmbg" class="block" [(ngModel)]="user.jmbg">
              </div>
            </td>

          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Gender:</p>
                <input type="radio" name="gender" id="male" value="MALE" [(ngModel)]="user.gender">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female" value="FEMALE" [(ngModel)]="user.gender">
                <label for="female">Female</label>
              </div>
            </td>
          </tr>

          
          <tr>
            <td align="center">
              <div class="row">
                <p class="block">Blood Type:</p>
                <select [(ngModel)]="user.bloodType" name="bloodType">
                  <option *ngFor="let type of bloodTypes">{{type}}</option>
                </select>
              </div>
            </td>
          </tr>


    
          <tr>
            <td align="center">
              <button class="btn" (click)="post()">Create account</button>
            </td>
          </tr>
        </table>
      </form>
    </div>

   

    </div>
    </body>
