<body>
  <start-toolbar ></start-toolbar>
        <h3 class="header" style="width:40%;margin-left:30%">Registration</h3>
      
      <form id="formlogin">
        <table class="form_container">
          <tr>
            <div class="flexbox_row">
              <div class="flexbox_col" style="gap:0px">
                  <p>Email:</p>
                  <p>Password:</p>
                  <p>Confirm password:</p>
                  <p>Name:</p>
                  <p>Surname:</p>
                  <p>Jmbg:</p>
                  <p>Workplace:</p>
                  <p>Profession:</p>
                  <p>Phone number:</p>
                  
              </div>
              <div class="flexbox_col" style="gap:2.3em; margin-top:5%">
                <input type="text" name="email" [(ngModel)]="user.email">
                <input type="password" name="pasword" [(ngModel)]="user.password">
                <input type="password" name="pasword" [(ngModel)]="passwordConfirm">
                <input type="text" name="name" [(ngModel)]="user.name">
                <input type="text" name="name" [(ngModel)]="user.surname">
                <input type="text" name="jmbg" [(ngModel)]="user.jmbg">
                <input type="text" name="adress" [(ngModel)]="user.workplace">
                <input type="text" name="adress" [(ngModel)]="user.employmentInfo">
                <input type="text" name="number" [(ngModel)]="user.phoneNum">
              </div>
            </div>
          </tr>
          

          <tr>
            <td align="center" >
              <div class="flexbox_row" >
                <p style="width:20%;margin-left:10%;" >Address:</p>
                <p style="width:20%;" >City:</p>
                <p style="width:20%;margin-right:10%;" >State:</p>
              </div>
              <div class="flexbox_row">
                <input type="text" name="adress" style="width:20%;margin-left:10%;"  [(ngModel)]="user.address">
                <input type="text" name="city" style="width:20%" [(ngModel)]="user.city">
                <input type="text" name="state" style="width:20%; margin-right:10%" [(ngModel)]="user.state">
              </div>
            </td>
          </tr>
          
          <tr>
            <td align="center">
              <p>Gender:</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div class="flexbox_row" style="width:50%">
                
                <input type="radio" name="gender" id="male" value="MALE" [(ngModel)]="user.gender">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female" value="FEMALE" [(ngModel)]="user.gender">
                <label for="female">Female</label>
              </div>
            </td>
          </tr>

          <tr>
            <td align="center">
              <button class="btn" (click)="post()">Create account</button>
            </td>
          </tr>
        </table>
      </form>
    </body>
