<body>
    <form id="formlogin">
      <table class="login_container">
        <tr>
          <td align="center">
            <div class="r2">
              <div class="slot3"><p class="credential_labels">Username?</p></div>
              <div class="slot4"><input type="text" name="anonymous"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="r1">
              <div class="slot1"><p class="credential_labels">Should the comment be visible to public?</p></div>
              <div class="slot2"><input type="checkbox"  name="visibleToPublic"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="credential_labels" align="center">Comment</td>
        </tr>
        <tr>
          <td align="center">
            <textarea class="credential_inputs" type="text" name="text"></textarea>
          </td>
        </tr>
  
        <tr>
          <td align="center">
            <button class="btn" >Post comment</button>
          </td>
        </tr>
      </table>
    </form>
    <div  class="box">
      <p>Comment sent for review!</p>
      <label for="btn" >Close</label>
    </div>
  </body>
  