.mat-card-title{
    font-size: 40px;
    padding: 10px 10px 10px 10px;
}

.mat-card-content{
    font-size: 20px;
}

.mat-card{
    margin:auto;
    padding: 20px 20px 20px 20px;
}

.container {
  display: flex;
  padding: 20px 20px 20px 20px;
}
