
<body>
  <admin-toolbar></admin-toolbar>
    <h3>Register center</h3>
    <form id="formlogin">
      <table class="form_container">
        <tr>
          <td align="center">
            <div class="flexbox">
              <p >Name:</p>
              <input type="text" name="name"[(ngModel)]="bloodCenter.name">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              <p>Start</p> 
              <p>End</p>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              <input type="time" [(ngModel)]="startTime" name="startTime" >
              <input type="time" [(ngModel)]="endTime" name="endTime">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" >
            <div class="flexbox">
              <p>Address:</p>
              <p>City:</p>
              <p>Country:</p>
            </div>
            <div class="flexbox" style="gap:10px;">
              
              <input type="text" style="width: 7rem;" name="address" [(ngModel)]="address.streetAddress">
              <input type="text" style="width: 7rem;" name="city" [(ngModel)]="address.city">
              <input type="text" style="width: 7rem;" name="state" [(ngModel)]="address.country">

            </div>

          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block" >Description:</p>
              <textarea name="description" class="block" style="margin-top:5%" [(ngModel)]="bloodCenter.description"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button class="btn" (click)="post()">Register center</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
  