<p>testproba works!</p>

<h1>
    Angular + WebSockets
  </h1>
  <button (click)="sendMsg()">Start</button>
  <button (click)="stopReceiving()">Stop</button>

        <ejs-maps id='rn-container' style='display:block' [zoomSettings]='zoomSettings' [centerPosition]='centerPosition'>
            <e-layers >

                <e-layer [urlTemplate]="urlTemplate" [shapeData] = 'shapeData' shapePropertyPath= 'continent' shapeDataPath= 'continent' [dataSource] ='dataSource' [shapeSettings]= 'shapeSettings'>
            
                  <e-markerSettings >
                  <e-markerSetting visible= true [dataSource] ='markerdataSource' height= 20 width= 20 animationDelay="5"  ></e-markerSetting>
                  </e-markerSettings>
            
                </e-layer>  
            
            </e-layers>
        </ejs-maps>
  <br>
  <div class="row">
    <div class="column">
      <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
      <br>
      
    </div>
  
  </div>
  <br>
  <div>
    <h1>Sent Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of sent">Source: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>
  
  <br>
  <div>
    <h1>Received Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of received">Source: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>