.mat-toolbar {
    background-color: dimgray;
    font: bold 17px verdana;
    color: white;
    min-height: 60px;
  }
  
  .mat-button {
    color: white;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .button {
    font: bold 18px verdana;
    background: dimgray;
  }
  