<body>
  <h3>Staff registration</h3>
    <form id="formlogin">
      <table class="login_container">
        <tr>
          <td align="center">
            <div class="row">
                <p class="block">Email:</p>
                <input type="text" name="email" class="block" [(ngModel)]="user.email">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Password:</p>
              <input type="password" name="pasword" class="block" [(ngModel)]="user.password">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Full name:</p>
              <input type="text" name="name" class="block" [(ngModel)]="user.name">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Jmbg:</p>
              <input type="text" name="name" class="block" [(ngModel)]="user.jmbg">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Address:</p>
              <input type="text" name="adress" class="block" [(ngModel)]="user.adress">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Phone number:</p>
              <input type="text" name="number" class="block" [(ngModel)]="user.phoneNumber">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Gender:</p>
              <input type="radio" name="gender" id="male" value="MALE" [(ngModel)]="user.gender">
              <label for="male">Male</label>
              <input type="radio" name="gender" id="female" value="FEMALE" [(ngModel)]="user.gender">
              <label for="female">Female</label>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="row">
              <p class="block">Blood center:</p>
              <select class="select-filter" (change)="setCenter($event)">
              <option *ngFor="let center of centers" (change)="setCenter($event)">{{center.name}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button class="btn" (click)="post()" >Create account</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
  