<body>

  <donor-toolbar></donor-toolbar>

  <h3>Profile info</h3>
  <form id="formlogin">
    <table class="login_container">
      

      <div class="flexbox_row">

        <div class="flexbox_col">
          <p>Email:</p>
          <p>Full name:</p>
          <p>Address:</p>
          <p>Workplace:</p>
          <p>Phone number:</p>
        </div>
        <div class="flexbox_col">
          <p>{{donor.email}}</p>
          <p>{{donor.name}} {{donor.surname}}</p>
          <p>{{donor.addressString}}</p>
          <p>{{donor.workplace}}</p>
          <p>{{donor.phoneNumber}}</p>

        </div>

      </div>
      <tr>
        <td align="center">
          <button class="btn" (click)="goToEditPage()" >Edit</button>
        </td>
      </tr>
    </table>
  </form>
</body>
