<mat-toolbar color="primary">
    <button class="button" mat-button (click)="DonorHomeClick()">Home</button>
    <button class="button" mat-button (click)="FormClick()">Donor Form</button>
    <button class="button" mat-button (click)="ProfileClick()">Profile</button>
    <button class="button" mat-button (click)="ScheduleSuggestionsClick()">Schedule with Suggestions</button>
    <button class="button" mat-button (click)="ScheduleRegularClick()">Regular Schedule</button>

    <button class="button" mat-button (click)="ApptsClick()">Appointments</button>
    
    <div class="spacer"></div>
    <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
  </mat-toolbar>
  