<body>
  <h3>Staff registration</h3>
    <form id="formlogin">
      <table class="form_container">
        <tr>
          <td align="center">
            <div class="flexbox">
                <p>Email:</p>
                <input type="text" name="email" [(ngModel)]="user.email">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <p >Name & Surname:</p>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              
              <input type="text" name="name" [(ngModel)]="user.name">
              <input type="text" name="surname" [(ngModel)]="user.surname">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              <p>Jmbg:</p>
              <input type="number" name="jmbg" [(ngModel)]="user.jmbg">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" >
            <div class="flexbox">
              <p>Address:</p>
              <p>City:</p>
              <p>Country:</p>
            </div>
            <div class="flexbox" style="gap:10px;">
              
              <input type="text" style="width: 7rem;" name="adress" [(ngModel)]="user.address">
              <input type="text" style="width: 7rem;" name="city" [(ngModel)]="user.city">
              <input type="text" style="width: 7rem;" name="state" [(ngModel)]="user.state">

            </div>

          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              <p>Phone number:</p>
              <input type="number" name="number" [(ngModel)]="user.phoneNum">
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div >
              <p>Gender:</p>
              <input type="radio" name="gender" id="male" value="MALE" [(ngModel)]="user.gender">
              <label for="male">Male</label>
              <input type="radio" name="gender" id="female" value="FEMALE" [(ngModel)]="user.gender">
              <label for="female">Female</label>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="flexbox">
              <p>Blood center:</p>
              <select class="select-filter"  [(ngModel)]="selectedCenter" (ngModelChange)="setCenter($event)" id="centerSelect" name="centerSelect" >
              <option *ngFor="let center of centers" [ngValue]="center">{{center.name}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <button class="btn" (click)="post()" >Create account</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
  