.mat-card-title{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom:30px;
}

.mat-card-content {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;


}

p {
    margin: 40px 20px 20px 20px;
}

.mat-card {
  margin-left: auto;
  margin-top : 20px;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: lightgoldenrodyellow;
  border: #DCD6CC 1px solid;
}

.container {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.personal-info{
    margin-left: auto;
    margin-right:auto;
}

.edit-button {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 20px;
  font-size: 16px;
  border-radius: 8px;
}

.tables {
  margin-left: auto;
  margin-right: auto;
}

th {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.cell-center {
  text-align: center;
  font-size: 16px;
}

.table-title {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

table {
  width: 100%;
  background-color: lightgray;
}

